{% block body %}

    <h1><strong>Expediteur: </strong>{{ User.prenom }}</h1>
   <li><strong>Rendez-vous demander pour le: </strong> {{ rendezvouses.jour }}</li>


<span>message envoyer</span>
{% endblock %}