{% block body  %}

    <tbody>

    <div class="containerDevis container">
        <div class="styleMessage">
            <div class="category"><strong>Expediteur: </strong>Garage Pilet</div>
            <div class="category"><strong>Message: </strong>{{ AdminReponseDevi.Message }}</div>
            <div class="category"><strong>Estimation: </strong>{{ AdminReponseDevi.estimation }}</div>






        </div>
    </div>

    </tbody>

{% endblock %}