/*Formulaire*/


.required {
    display: flex;
    flex-direction: row;


    font-weight: bold;
}
#rendez_vous{
    margin-left: 3%;
}
.input{
    width:60%;
}

.required > input {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form {
    margin-top: 7%;
}

.pageHoraire {
    margin-top: 8%;
}

form > #horaire {
    display: flex;
    flex-direction: inherit;
    justify-content: center;
}

textarea {
    width: 80%;
    height: 20vh;
}

.containerStart {
    display: flex;
    flex-direction: column;
    text-align: -webkit-center;
}

#content > div {
    display: flex;
    flex-direction: column;
    text-align: -webkit-center;
}

.boutonForm {
    background: cadetblue;
    padding: 6px 7px 6px 7px;
    border-radius: 15px;
    cursor: pointer;
}

.containerForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;


}

.couleurSupr {
    background-color: #AA3333;
}


/*Footer*/


.footer {
    width: 100%;
    background-color: #5dacd7;
    height: 20vh;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: static;
    bottom: 0;
}

.demiContainerFooter {

}

.sectionFooter {
    padding-top: 2%;
}

/*Header*/


body {
    width: 100%;
    margin: 0 auto;
    background-color: #596877;;


}

.header {

    height: 11vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 2px 0 #6f6161;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #c6c0c0;
    top:3vh;


}

.image {
    cursor: pointer;
    width: 40%;

}

.section:hover {
    -webkit-transform: scale(1.13);
    transform: scale(1.13);


}
i:hover {

    cursor: pointer;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

}

.section  a{
    color:white;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.section a:hover{


    color:#596877;
}

.containerHeader {
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

/*INDEX(ACCUEIL)*/

.titre{
    color: white;
    font-weight: bold;
    margin-left: 3%;
}
.titre2{
    text-align: center;
    color: #5eb5e0;
    text-shadow: 1px 1px cadetblue;

}

.titleVente {
    background: cornflowerblue;
    padding: 8px 13% 8px 13%;
    font-size: 4vw;
    /* position: absolute; */
    margin-top: -4%;
    color: white;
}
.containerContent{
    width: 60%;
}


.contentAccueil {
    display: flex;
    justify-content: center;
}

.paragrapheAccueil {
    width: 50%;
    text-align: justify;
    color: white;

}

.titleAccueil {
    color: cadetblue;
    text-shadow: 1px 1px dodgerblue;
    text-align: center;
    margin-top: 10%;
}

.titlePageAccueil {
    color: #ffeaa7;
    text-shadow: 1px 1px black;
    text-align: center;
    margin-top: 8%;

}

.buttonAfficher {

    color: white;
    text-decoration: none;

}

.containerButton {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    justify-content: center;
}

.centreButton {
    background-color: cadetblue;
    width: 7%;
    height: 1vw;
    text-align: center;
    align-items: center;
    align-self: center;
    border-radius: 37px;
    padding: 5px 8px 13px 8px;
}

.buttonModifier {
    color: white;
    text-decoration: none;
}


.Matin {
    background-color: cornflowerblue;
    width: 11%;
    text-align: center;
    font-style: initial;
    padding: 3px 42px 3px 42px;
    font-weight: bold;
    color: white;
    margin-left: 3%;
    box-shadow: 1.5px 1.5px 1px #656565;


}

.midi {
    background-color: cornflowerblue;
    width: 11%;
    text-align: center;
    font-style: initial;
    padding: 3px 42px 3px 42px;
    margin-left: -2%;
    font-weight: bold;
    color: white;
    box-shadow: 1.5px 1.5px 1px #656565;

}

.containerHoraire {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3%;

}

.tableHoraire {
    width: 46%;
    display: table;


}

.MatinMidi {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.horairelist {
    background-color: cornflowerblue;
    padding: 5px 8px 5px 8px;
    width: 6%;
    text-align: center;
    font-weight: bold;
    margin: 3px 3px 3px 3px;
    box-shadow: 1.5px 1.5px 1px #656565;

}

.horaireJour {
    color: white;


}

.buttonHoraire {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background: cadetblue;
    padding: 3px 9px 4px 9px;
    box-shadow: 3px 3px 1px #656565;
}

.stockCreation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3%;
}

.Crée {
    background: cadetblue;
    padding: 3px 11px 3px 11px;
    text-decoration: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}

/*Formulaire inscription*/


.formulaire {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.form {
    margin-top: 2%;
}

.formstyle {
    border-radius: 45px;
    padding: 10px 0 10px 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 70%;
    text-align: center;
    box-shadow: 5px 5px 2px #656565;


}

/*FormulaireConnexion*/


.label {
    margin-top: 4%;
}

.englobLabelInput {
    margin-top: 5%;
}

.buttonConnect {
    margin-top: 5%;
}

.formulaireConnect {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.FormulaireComplet {
    text-align: center;
    width: 50%;
    padding: 15px 3px 15px 3px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 45px;
    box-shadow: 8px 8px 4px #656565;
}
/*MENU telephone*/
.menu{
    display:none;
}
#menuToggle{
    display:none;
}
@media screen and (max-width:800px ){
    .header{
        display:none;
    }
    .dessusheader{

    }
    .headerTel{
        height: 11vh;




        box-shadow: 0 2px 2px 0 #6f6161;
        position: fixed;
        width: 100%;
        z-index: 10;
        background-color: #c6c0c0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #menuToggle
    {
        display: block;
        /*position: relative;
        top: 111px;
        left: 50px;*/

        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }
    input[type=checkbox]{
        color:black !important;
    }

    #menuToggle input
    {
        color:black !important;
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;



        cursor: pointer;

        opacity: 0;
        z-index: 2;

        -webkit-touch-callout: none;
    }

    #menuToggle span
    {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background:  #596877;
        border-radius: 3px;

        z-index: 1;
        margin-left: 4px;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
        margin-left: 5px;
    }

    #menuToggle input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2)
    {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu
    {
        position: absolute;
        width: 109%;
        height: 2500%;
        overflow:hidden;
        text-align:center;
        margin: -100px 0 0 -50px;
        padding-top: 80px;

        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
        padding: 32px 0;
        font-size: 22px;
        text-align: center;
    }
    #menuToggle input:checked ~ ul
    {
        transform: none;
    }
    .menu ul{
        background-color: #7a421a;
    }
}                                      /*VUE telephone*/
@media screen and (max-width:500px ){
    .containerImageAccueil{
        flex-direction: column;
    }
    .titre{
        font-size: 22px;
    }
    label{
font-size: 5vw;
    }
    *, ::after, ::before{
        box-sizing: content-box;
    }
    .containerContent{
        width: 100%;
    }
    #menu li {
        padding: 18px 0;
        font-size:15px;
    }
    .carousel-inner img{
        height: 45vw !important;
    }

}
