<link rel="stylesheet" href="..\..\App.css">
<nav>
<div class="footer">

    <div class="demiContainerFooter">
        <div class="sectionFooter">devis</div>
        <div class="sectionFooter">Mon espace devis</div>

    </div>
    <div class="demiContainerFooter">
    <div class="sectionFooter">Demande de rendez-vous</div>
    <div class="sectionFooter">connexion</div>
    </div>
    <div class="deminContainerFooter">

        <div class="sectionFooter">inscription</div>
        <div class="sectionFooter">vente de voiture</div>
    </div>



</div>
</nav>